html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background: yellow;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.main-header {
    background-image: url(../images/Powerball.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.title {
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
}

.display {
    display: flex;
    justify-content: center;
}

.numbers {
    text-align: center;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    display: block;
    text-align: center;
    width: 100px;
    padding: 10px;
    margin: 0 auto;
}

.powerball {
    height: 4.5rem;
    width: 4.5rem;
    background-color: white;
    border-radius: 100%;
    margin-top: 1.5rem;
    margin-right: .75rem;
}

.red {
    background-color: red;
}

@media screen and (min-width: 768px) {
    .main-header {
        background-image: url(../images/Powerball.jpg);
        height: 300px;
    }
}

@media screen and (min-width: 1000px) {
    .main-header {
        background-image: url(../images/Powerball.jpg);
        height: 500px;
    }
}