html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3113FF;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.main-header {
    background-image: url(../images/Powerball.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.heading {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #FDFFF6;
}

.title {
    font-size: 3rem;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 1rem;
}

.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-top: .5rem;
    margin-bottom: 3rem;
    font-weight: 100;
}

.form {
    display: flex;
    justify-content: center;
}

.display {
    display: flex;
    justify-content: center;
}

.button {
    appearance: button;
    text-decoration: none;
    color: initial;
    display: block;
    text-align: center;
    width: 100px;
    padding: 10px;
    margin: 0 auto;
	border-radius: 4px;
	border: solid 1px black;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	transition-duration: 0.2s;
	user-select:none;
    outline: none;
}

.button:hover {
    color: #3113FF;
    background: #7F7F7B;
    border: solid 1px black;
}

.button:active {
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	background: #656662;
	border: solid 1px black;
}

.powerball {
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    background-color: white;
    border-radius: 50%;
    margin-top: 1.5rem;
    margin-right: .27rem;
    margin-left: .27rem;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    box-shadow: inset 5px -3px 25px black;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 1px 1px 2px #000000;
}

.red {
    background-color: red;
}
.bounce {
    animation: bounce 2s;
}

@keyframes bounce {
    0% {transform:translateY(-1000px); opacity:0;}
    5% {transform:translateY(-1000px); opacity:0;}
    15% {transform:translateY(0); padding-bottom: 5px;}
    30% {transform:translateY(-50%);}
    40% {transform:translateY(0%); padding-bottom: 6px;}
    50% {transform:translateY(-30%);}
    70% {transform:translateY(0%); padding-bottom: 7px;}
    80% {transform:translateY(-15%);}
    90% {transform:translateY(0%); padding-bottom: 8px;}
    95% {transform:translateY(-7%);}
    97% {transform:translateY(0%); padding-bottom: 9px;}
    99% {transform:translateY(-3%);}
    100% {transform:translateY(0); padding-bottom: 9px; opacity: 1;}
}

@media screen and (min-width: 340px) {
    .powerball {
    display: flex;
    height: 3rem;
    width: 3rem;
    margin-top: 2.5rem;
    margin-right: .30rem;
    margin-left: .30rem;
    font-size: 1.5rem;
    box-shadow: inset 5px -3px 25px black;
    }
}

@media screen and (min-width: 600px) {
    .powerball {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        margin-top: 3rem;
        margin-right: .4rem;
        margin-left: .4rem;
        font-size: 2.25rem;
        box-shadow: inset 5px -3px 25px black;
    }

    .title {
    font-size: 5rem;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 1rem;
    }

    .subtitle {
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-bottom: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .main-header {
        background-image: url(../images/Powerball.jpg);
        height: 300px;
    }
}

@media screen and (min-width: 1000px) {
    .main-header {
        background-image: url(../images/Powerball.jpg);
        height: 450px;
    }
}